/* Code tidied up by ScrapBook */
.owl-theme .owl-nav { margin-top: 10px; text-align: center; }
.owl-theme .owl-nav [class*="owl-"] { color: rgb(255, 255, 255); font-size: 14px; margin: 5px; padding: 4px 7px; background: rgb(214, 214, 214) none repeat scroll 0% 0%; display: inline-block; cursor: pointer; border-radius: 3px; }
.owl-theme .owl-nav [class*="owl-"]:hover { background: rgb(134, 151, 145) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-decoration: none; }
.owl-theme .owl-dots { text-align: center; }
.owl-theme .owl-dots .owl-dot { display: inline-block; }
.owl-theme .owl-dots .owl-dot span { width: 10px; height: 10px; margin: 5px 7px; background: rgb(214, 214, 214) none repeat scroll 0% 0%; display: block; backface-visibility: visible; transition: opacity 200ms ease 0s; border-radius: 30px; }
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span { background: rgb(134, 151, 145) none repeat scroll 0% 0%; }
