/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Segoe UI Historic";
  src: local("Arial");
  unicode-range: U+530-5F4, U+10A0-10FF;
}
@font-face {
  font-family: "Segoe UI Historic";
  font-weight: 700;
  src: local("Arial Bold"), local("Arial");
  unicode-range: U+530-5F4, U+10A0-10FF;
}
@font-face {
  font-family: "Fix for Mac Chrome 80";
  font-weight: 500;
  src: local("Lucida Grande");
  unicode-range: U+530-5F4, U+10A0-10FF;
}
@keyframes fadeInside {
0% { opacity: 1; }
100% { opacity: 0.4; }
}
@keyframes fadeOutside {
0% { opacity: 0.8; }
100% { opacity: 0.25; }
}
@keyframes fadeRed {
0% { opacity: 0.7; }
100% { opacity: 1; }
}
@media (min-width: 800px) {
}
@media (min-width: 801px) {
}
@media (min-width: 640px) and (max-width: 800px), (max-width: 639px) {
}
._4ik4 { overflow: hidden; white-space: normal; }
._4ik4::before { content: ""; float: left; height: 100%; position: relative; width: 5px; }
._4ik3 { bottom: 1.5em; float: right; left: 100%; margin-left: -2.5em; padding-right: 5px; position: relative; text-align: right; width: 2.5em; }
._2k5d { background: transparent linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255) 50%, rgb(255, 255, 255)) repeat scroll 0% 0%; }
._4ik6 { float: right; margin-left: -5px; width: 100%; }
._3qn7 { display: flex; }
._2fyi { flex-direction: row; }
._61-0 { justify-content: flex-start; }
._3qng { align-items: center; }
