/* Code tidied up by ScrapBook */
@keyframes rotateSpinner {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
._95ry { font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif; }
._94vf { animation-duration: 200ms; animation-name: fb_bounce_in_v2; background-color: rgb(255, 255, 255); border-radius: 18px; box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15); display: flex; flex-direction: column; transition-timing-function: ease-in; width: 375px; }
._94vf .welcomePageModalSheetContent { margin: 32px 24px; }
._94ve { bottom: 12px; display: flex; flex-direction: column; height: 100%; justify-content: flex-end; left: 16px; position: absolute; }
@keyframes fb_bounce_in_v2 {
0% { opacity: 0; transform: scale(0, 0); transform-origin: right bottom 0px; }
50% { opacity: 0; transform: scale(0, 0); transform-origin: right bottom 0px; }
75% { transform: scale(1.03, 1.03); transform-origin: right bottom 0px; }
100% { opacity: 1; transform: scale(1, 1); transform-origin: right bottom 0px; }
}
@keyframes fb_bounce_in_v2_left {
0% { opacity: 0; transform: scale(0, 0); transform-origin: left bottom 0px; }
50% { opacity: 0; transform: scale(0, 0); transform-origin: left bottom 0px; }
75% { transform: scale(1.03, 1.03); transform-origin: left bottom 0px; }
100% { opacity: 1; transform: scale(1, 1); transform-origin: left bottom 0px; }
}
._909c { justify-content: center; margin: 24px -4px 20px; }
._909d { align-items: center; border-radius: 16px; color: rgb(255, 255, 255); cursor: pointer; display: flex; flex-direction: row; font-weight: 600; justify-content: center; min-height: 52px; min-width: 215px; outline: medium none; padding: 0px 30px; }
._909d .continueText { color: rgb(255, 255, 255); font-size: 17px; margin: 0px 0px 0px 8px; }
._909e { align-items: center; background-color: rgba(0, 0, 0, 0.05); border-radius: 16px; color: rgb(0, 0, 0); cursor: pointer; display: flex; font-size: 17px; font-weight: 600; justify-content: center; line-height: 20px; margin: 12px 0px; min-height: 52px; min-width: 215px; outline: medium none; padding: 0px 30px; }
._924l { color: rgba(0, 0, 0, 0.5); font-size: 13px; line-height: 18px; text-align: center; }
.welcomePageModalSheetContent ._924l a { color: rgb(0, 0, 0); font-weight: 600; }
._9095 { display: flex; flex-direction: row; }
._9096 { align-self: center; border-radius: 50%; height: 48px; width: 48px; }
._909a { color: rgba(0, 0, 0, 0.5); font-size: 13px; font-weight: 600; line-height: 16px; margin: 4px 0px 0px; }
._9099 { color: rgb(0, 0, 0); font-size: 20px; font-weight: bold; line-height: 24px; margin: 23px 0px 0px; word-break: break-all; }
._909b { color: rgb(0, 0, 0); font-size: 15px; line-height: 20px; margin-top: 16px; overflow-wrap: normal; }
._9q4i { pointer-events: auto; }
@keyframes thread_slide_up {
100% { top: 0px; }
}
@keyframes welcome_page_modal_fade_in {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes welcome_page_modal_fade_out {
100% { opacity: 0; }
}
@keyframes welcome_page_slide_up {
100% { bottom: 0px; }
}
@keyframes welcome_page_slide_down {
100% { bottom: -100%; }
}
._9dzn { align-items: center; display: flex; }
._9dxh { flex-grow: 1; }
@keyframes fade_in {
0% { display: none; opacity: 0; }
1% { display: block; opacity: 0; }
100% { display: block; opacity: 1; }
}
._6i6a { display: block; max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes messengerTypingAnimation {
0% { transform: translateY(0px); }
28% { transform: translateY(-6px); }
44% { transform: translateY(0px); }
}
