/* Code tidied up by ScrapBook */
html { touch-action: manipulation; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(28, 30, 33); direction: ltr; line-height: 1.34; margin: 0px; padding: 0px; unicode-bidi: embed; }
body, button, input, label, select, td, textarea { font-family: Helvetica,Arial,sans-serif; font-size: 12px; }
b, strong { font-weight: 600; }
a { color: rgb(56, 88, 152); cursor: pointer; text-decoration: none; }
a:hover { text-decoration: underline; }
img { border: 0px none; }
.clearfix::after { clear: both; content: "."; display: block; font-size: 0px; height: 0px; line-height: 0; visibility: hidden; }
.clearfix {  }
._li._li._li { overflow: initial; }
body.plugin { background: transparent none repeat scroll 0% 0%; font-family: Helvetica,Arial,sans-serif; line-height: 1.28; overflow: hidden; -moz-text-size-adjust: none; }
.plugin, .plugin button, .plugin input, .plugin label, .plugin select, .plugin td, .plugin textarea { font-size: 11px; }
@keyframes burst {
0% { background-position: 0px 0px; }
100% { background-position: -616px 0px; }
}
._4cqr { position: relative; }
._4cqr::after { content: "\a "; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; }
._4mr9 { -moz-user-select: none; }
@keyframes rotateSpinner {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
