/* Code tidied up by ScrapBook */
@import url("css2.css");
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: bold; }
h1 { font-size: 2em; margin: 0.67em 0px; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
img { border: 0px none; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -moz-appearance: button; cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
@media print {
  *, *::before, *::after { background: transparent none repeat scroll 0% 0% ! important; color: rgb(0, 0, 0) ! important; box-shadow: none ! important; text-shadow: none ! important; }
  a, a:visited { text-decoration: underline; }
  a[href]::after { content: " (" attr(href) ")"; }
  a[href^="#"]::after, a[href^="javascript:"]::after { content: ""; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% ! important; }
  p, h2, h3 {  }
  h2, h3 { page-break-after: avoid; }
}
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("glyphicons-halflings-regular.eot") format("embedded-opentype"), url("glyphicons-halflings-regular.woff2") format("woff2"), url("glyphicons-halflings-regular.woff") format("woff"), url("glyphicons-halflings-regular.ttf") format("truetype"), url("glyphicons-halflings-regular.svg") format("svg");
}
* { box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 16px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:hover, a:focus { color: rgb(35, 82, 124); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
img { vertical-align: middle; }
.img-responsive { display: block; max-width: 100%; height: auto; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h1, .h1, h2, .h2, h3, .h3 { margin-top: 22px; margin-bottom: 11px; }
h4, .h4, h5, .h5, h6, .h6 { margin-top: 11px; margin-bottom: 11px; }
h1, .h1 { font-size: 41px; }
h2, .h2 { font-size: 34px; }
h3, .h3 { font-size: 28px; }
h4, .h4 { font-size: 20px; }
h5, .h5 { font-size: 16px; }
p { margin: 0px 0px 11px; }
@media (min-width: 768px) {
}
ul, ol { margin-top: 0px; margin-bottom: 11px; }
ul ul, ul ol, ol ul, ol ol { margin-bottom: 0px; }
@media (min-width: 992px) {
}
.container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
.container::before, .container::after { content: " "; display: table; }
.container::after { clear: both; }
@media (min-width: 768px) {
  .container { width: 750px; }
}
@media (min-width: 992px) {
  .container { width: 970px; }
}
@media (min-width: 1200px) {
  .container { width: 1170px; }
}
.row { margin-left: -15px; margin-right: -15px; }
.row::before, .row::after { content: " "; display: table; }
.row::after { clear: both; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }
.col-xs-3 { width: 25%; }
.col-xs-6 { width: 50%; }
.col-xs-12 { width: 100%; }
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-3 { width: 25%; }
  .col-sm-4 { width: 33.3333%; }
  .col-sm-5 { width: 41.6667%; }
  .col-sm-6 { width: 50%; }
  .col-sm-12 { width: 100%; }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-2 { width: 16.6667%; }
  .col-md-3 { width: 25%; }
  .col-md-7 { width: 58.3333%; }
  .col-md-12 { width: 100%; }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
  .col-lg-3 { width: 25%; }
}
@media screen and (max-width: 767px) {
}
@media not all {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.btn { display: inline-block; margin-bottom: 0px; font-weight: normal; text-align: center; vertical-align: middle; touch-action: manipulation; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 16px; line-height: 1.42857; border-radius: 4px; -moz-user-select: none; }
.btn:focus, .btn.focus, .btn:active:focus, .btn.focus:active, .btn.active:focus, .btn.active.focus { outline: thin dotted; outline-offset: -2px; }
.btn:hover, .btn:focus, .btn.focus { color: rgb(51, 51, 51); text-decoration: none; }
.btn:active, .btn.active { outline: 0px none; background-image: none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.collapse { display: none; visibility: hidden; }
.caret { display: inline-block; width: 0px; height: 0px; margin-left: 2px; vertical-align: middle; border-top: 4px solid; border-right: 4px solid transparent; border-left: 4px solid transparent; }
.dropup, .dropdown { position: relative; }
.dropdown-toggle:focus { outline: 0px none; }
.dropdown-menu { position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0px; margin: 2px 0px 0px; list-style: outside none none; font-size: 16px; text-align: left; background-color: rgb(255, 255, 255); border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 4px; box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176); background-clip: padding-box; }
.dropdown-menu > li > a { display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 1.42857; color: rgb(51, 51, 51); white-space: nowrap; }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { text-decoration: none; color: rgb(38, 38, 38); background-color: rgb(245, 245, 245); }
@media (min-width: 992px) {
}
.nav { margin-bottom: 0px; padding-left: 0px; list-style: outside none none; }
.nav::before, .nav::after { content: " "; display: table; }
.nav::after { clear: both; }
.nav > li { position: relative; display: block; }
.nav > li > a { position: relative; display: block; padding: 10px 15px; }
.nav > li > a:hover, .nav > li > a:focus { text-decoration: none; background-color: rgb(238, 238, 238); }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
.navbar-header::before, .navbar-header::after { content: " "; display: table; }
.navbar-header::after { clear: both; }
@media (min-width: 992px) {
  .navbar-header { float: left; }
}
.navbar-collapse { overflow-x: visible; padding-right: 15px; padding-left: 15px; border-top: 1px solid transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset; }
.navbar-collapse::before, .navbar-collapse::after { content: " "; display: table; }
.navbar-collapse::after { clear: both; }
@media (min-width: 992px) {
  .navbar-collapse { width: auto; border-top: 0px none; box-shadow: none; }
  .navbar-collapse.collapse { display: block ! important; visibility: visible ! important; height: auto ! important; padding-bottom: 0px; overflow: visible ! important; }
}
@media (max-device-width: 480px) and (orientation: landscape) {
}
@media (min-width: 992px) {
}
@media (min-width: 992px) {
}
@media (min-width: 992px) {
}
@media (min-width: 992px) {
}
.navbar-toggle { position: relative; float: right; margin-right: 15px; padding: 9px 10px; margin-top: 8px; margin-bottom: 8px; background-color: transparent; background-image: none; border: 1px solid transparent; border-radius: 4px; }
.navbar-toggle:focus { outline: 0px none; }
@media (min-width: 992px) {
  .navbar-toggle { display: none; }
}
.navbar-nav { margin: 7px -15px; }
.navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; line-height: 22px; }
@media (max-width: 991px) {
}
@media (min-width: 992px) {
  .navbar-nav { float: left; margin: 0px; }
  .navbar-nav > li { float: left; }
  .navbar-nav > li > a { padding-top: 14px; padding-bottom: 14px; }
}
@media (min-width: 768px) {
}
@media (max-width: 991px) {
}
@media (min-width: 992px) {
}
.navbar-nav > li > .dropdown-menu { margin-top: 0px; border-top-right-radius: 0px; border-top-left-radius: 0px; }
@media (min-width: 992px) {
}
@media (min-width: 992px) {
}
@media (max-width: 991px) {
}
@media (max-width: 991px) {
}
@media screen and (min-width: 768px) {
}
@keyframes progress-bar-stripes {
0% { background-position: 40px 0px; }
100% { background-position: 0px 0px; }
}
@keyframes progress-bar-stripes {
0% { background-position: 40px 0px; }
100% { background-position: 0px 0px; }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media not all, (-webkit-transform-3d) {
}
@media screen and (min-width: 768px) {
}
.hidden { display: none ! important; visibility: hidden ! important; }
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 767px) {
  .hidden-xs { display: none ! important; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm { display: none ! important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff2") format("woff2"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg") format("svg");
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; font-feature-settings: normal; font-language-override: normal; font-kerning: auto; font-synthesis: weight style; font-variant: normal; font-size: inherit; text-rendering: auto; }
@keyframes fa-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
@keyframes fa-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
.fa-map-marker::before { content: ""; }
.fa-phone::before { content: ""; }
.fa-facebook-f::before, .fa-facebook::before { content: ""; }
.fa-envelope::before { content: ""; }
.fa-linkedin::before { content: ""; }
.fa-youtube::before { content: ""; }
.fa-instagram::before { content: ""; }
@font-face {
  font-family: "Gotham";
  font-weight: 400;
  src: url("Gotham-Book.otf") format("opentype"), url("Gotham-Book.ttf") format("truetype"), url("Gotham-Book.woff") format("woff"), url("Gotham-Book.eot");
}
@font-face {
  font-family: "Gotham";
  font-weight: 200;
  src: url("Gotham-Thin.otf") format("opentype"), url("Gotham-Thin.ttf") format("truetype"), url("Gotham-Thin.woff") format("woff"), url("Gotham-Thin.eot");
}
@font-face {
  font-family: "Gotham";
  font-weight: 700;
  src: url("Gotham-Bold.otf") format("opentype"), url("Gotham-Bold.ttf") format("truetype"), url("Gotham-Bold.woff") format("woff"), url("Gotham-Bold.eot");
}
* { transition: background 0.15s linear 0s; will-change: background; }
body { font-family: "Source Sans Pro",sans-serif; font-weight: 400; }
h1, h2, h3, h4, h5, h6 { font-family: "Gotham"; }
a { color: inherit; }
a:hover { color: inherit; cursor: pointer; text-decoration: none; }
a:link, a:visited { text-decoration: none; color: inherit; }
a:link:active, a:visited:active { color: inherit; }
ul { list-style: outside none none; padding-left: 0px; }
.no-padding { padding: 0px ! important; }
.section-bg { background-position: center center; background-size: cover; background-repeat: no-repeat; height: 100vh; box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.6) inset; display: flex; align-items: center; }
.section-bg .container { max-width: 100%; }
.section-bg .title-bg { font-size: 52px; font-weight: 700; color: rgb(255, 255, 255); padding-top: 30px; line-height: 64px; max-width: 100%; width: 500px; margin: 0px; }
.section-bg .subtitle-bg { font-size: 16px; color: rgb(255, 255, 255); font-weight: 200; border-bottom: 1px solid rgb(255, 255, 255); width: 160px; padding-bottom: 15px; white-space: nowrap; margin: 0px; }
.cont { background: rgb(244, 244, 244) none repeat scroll 0% 0%; max-width: 100%; }
.title { color: rgb(74, 74, 74); font-size: 16px; font-weight: bold; border-bottom: 1px solid rgb(74, 74, 74); width: 150px; white-space: nowrap; padding-top: 15px; padding-bottom: 10px; }
.subtitle { font-size: 24px; font-weight: 200; padding-top: 20px; }
.text { font-size: 16px; font-weight: 200; }
.desc, .text { overflow-wrap: break-word; word-break: break-all; hyphens: auto; }
.btn-grey { background-color: rgb(100, 120, 170); color: rgb(255, 255, 255) ! important; border-radius: 0px; font-size: 16px; font-weight: 700; text-transform: uppercase; }
.btn-grey:hover { background-color: rgb(43, 45, 60); color: rgb(255, 255, 255) ! important; }
.btn:focus { outline: medium none; }
.btn:active { box-shadow: none; }
.btn-transparent { background: transparent none repeat scroll 0% 0%; border: 1px solid rgb(255, 255, 255); border-radius: 0px; padding: 7px 25px; text-transform: uppercase; font-weight: 700; color: rgb(255, 255, 255); }
.btn-transparent:hover { background-color: rgb(155, 155, 155); border-color: transparent; color: rgb(255, 255, 255); }
.btn-transparent:focus { outline: medium none; background: inherit; color: inherit; }
#cookiePolicy { background: rgba(255, 255, 255, 0.7) none repeat scroll 0% 0% ! important; font-family: "Gotham" ! important; color: rgb(74, 74, 74) ! important; }
@media (max-width: 768px) {
  .section-bg, .slider-section { display: block; }
  .section-bg .title-bg, .slider-section .title-bg { font-size: 49px ! important; padding-top: 0px ! important; }
  .section-bg .subtitle-bg, .slider-section .subtitle-bg { font-size: 16px; }
  .title { width: auto; white-space: normal; }
  .cont { padding: 15px 0px ! important; }
}
@media (max-width: 767px) {
  section:not(.slider-section):not(.counter-section), footer { margin-top: 40px ! important; }
}
@media (max-width: 480px) {
  .subtitle { font-size: 20px ! important; }
  .section-bg .title-bg, .slider-section .title-bg { font-size: 28px ! important; padding-top: 25px ! important; line-height: normal ! important; white-space: normal ! important; }
}
@media (max-width: 384px) {
}
header { max-width: 100%; font-size: 11px; text-transform: uppercase; color: rgb(255, 255, 255); position: fixed; z-index: 100; width: 100%; top: 0px; }
header .header-col { display: flex; align-items: center; }
header .header-logo { width: 15%; }
header .header-logo img { width: 100%; height: auto; min-width: 150px; }
header .header-menu { width: 80%; }
header .nav { float: right; }
header .nav li { letter-spacing: 2px; }
header .nav li:focus { outline: medium none; }
header .nav li a { white-space: nowrap; border-bottom: 1px solid transparent; font-weight: 700; }
header .nav li a:hover { background-color: transparent; border-color: rgb(255, 255, 255); }
header .nav li a:focus { background-color: transparent ! important; border-color: rgb(255, 255, 255); outline: medium none; color: rgb(255, 255, 255); }
header .nav li a:link { background-color: transparent; }
header .nav .dropdown-menu-a a { background-color: transparent; border-color: transparent; }
header .nav .dropdown-menu-a a:hover { background-color: transparent; border-color: transparent; }
header .nav .dropdown-menu-a a:focus, header .nav .dropdown-menu-a a:link { background-color: transparent; outline: medium none; color: rgb(255, 255, 255); border: medium none; }
header .navbar-toggle { position: relative; float: right; margin-right: 15px; padding: 9px 10px; margin-top: 8px; margin-bottom: 8px; background-color: transparent; background-image: none; border: 1px solid transparent; border-radius: 0px; }
header .dropdown-menu { font-size: 11px; background: rgba(0, 0, 0, 0.4) none repeat scroll 0% 0%; }
header .dropdown-menu li a { padding: 10px 15px; color: rgb(255, 255, 255); }
header .dropdown-menu li a:hover { color: rgb(255, 255, 255) ! important; }
header .dropdown-menu li a:hover:focus { outline: medium none ! important; color: rgb(255, 255, 255) ! important; }
@media (max-width: 1200px) {
  header .nav li { letter-spacing: 0px; }
  header .header-menu { width: 89%; }
}
@media (min-width: 992px) {
  header { padding: 30px 0px; }
  header .header-logo { text-align: left; float: left; }
  header .header-menu { float: right; }
}
@media (max-width: 991px) {
  header { background: rgb(43, 45, 60) none repeat scroll 0% 0% ! important; padding-top: 0px ! important; padding-bottom: 0px ! important; overflow-y: auto; height: auto; max-height: 100%; font-size: 14px; }
  header .header-col { display: block; }
  header .header-col .header-logo { margin-top: 20px; }
  header .header-menu { width: 100%; }
  header .nav { flex-direction: column; float: left; }
  header .nav li { letter-spacing: 2px; }
  header .nav li a, header .nav .open a { border-color: transparent ! important; }
  header .nav li a:hover, header .nav .open a:hover { border-color: transparent ! important; }
  header .nav li a:focus, header .nav .open a:focus { border-color: transparent ! important; }
  header .navbar-toggle { display: block; margin-right: 0px; }
  header .header-logo { float: left; }
  header #nav-icon3 { width: 40px; height: 25px; position: relative; transform: rotate(0deg); transition: all 0.5s ease-in-out 0s; }
  header #nav-icon3 span:nth-child(1) { top: 0px; width: 100%; }
  header #nav-icon3 span:nth-child(2) { top: 10px; width: 100%; }
  header #nav-icon3 span:nth-child(3) { top: 10px; width: 100%; }
  header #nav-icon3 span:nth-child(4) { top: 20px; width: 80%; }
  header #nav-icon3 span { display: block; position: absolute; height: 3px; background: white none repeat scroll 0% 0%; border-radius: 40px; opacity: 1; left: 0px; transform: rotate(0deg); transition: all 0.25s ease-in-out 0s; }
}
footer { position: relative; background-color: rgb(43, 45, 60); color: rgb(255, 255, 255); font-weight: 700; font-size: 12px; letter-spacing: 2px; margin-top: 100px; line-height: 1; }
footer h4 { margin-bottom: 30px; }
footer img:not(:first-child) { margin-top: 60px; }
footer img:first-child { margin-top: 11px; }
footer .footer-row { margin-right: 0px ! important; }
footer .footer-container { padding: 40px 15px; }
footer .nav:first-of-type li:not(:first-child) a { padding: 10px 0px; }
footer .nav:first-of-type li:first-child a { padding: 0px 0px 10px; }
footer .nav:not(:first-of-type) li a { padding: 10px 0px; }
footer .nav li a { border-bottom: 1px solid transparent; width: 100px; text-transform: uppercase; }
footer .nav li a:hover { border-bottom-color: rgb(255, 255, 255); background-color: transparent; }
footer .nav li a:focus { outline: medium none; background-color: transparent; }
footer .footer-policy { padding: 30px 0px; }
footer .footer-policy a { padding-bottom: 10px; }
footer .footer-link { padding-bottom: 10px; }
footer .footer-copyright { padding-bottom: 10px; padding-top: 20px; }
footer .social-media-footer .sm-icon-footer { display: inline; }
footer .social-media-footer .sm-icon-footer a .fa, footer .social-media-footer .sm-icon-footer a .fab { font-size: 32px; padding-right: 25px; }
@media (max-width: 1199px) {
  footer .social-media-footer .sm-icon-footer a .fa { font-size: 27px; }
}
@media (max-width: 991px) {
  footer { margin-top: 50px; }
  footer .sm-title { margin-top: 90px; }
}
@media (max-width: 767px) {
  footer { text-align: center; }
  footer img { display: block; margin: 0px auto; }
  footer .company-info { margin-bottom: 60px; }
  footer .social-media-footer .sm-group { display: block; }
  footer .social-media-footer .sm-group:nth-child(1) { padding-bottom: 20px; }
  footer .social-media-footer .sm-group .sm-icon-footer a .fa { font-size: 35px; width: auto; }
  footer .footer-copyright { padding-top: 30px; }
  footer .nav li a { margin: 0px auto; }
  footer .nav:last-of-type { margin-bottom: 60px; }
}
.counter-section { background: rgb(43, 45, 60) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-transform: uppercase; }
.counter-section .counterTitle { margin-top: 30px; font-weight: 700; border-bottom: 1px solid rgb(255, 255, 255); padding-left: 0px ! important; margin-left: 15px; padding-bottom: 10px; width: 80px; white-space: nowrap; }
.counter-section .number { font-size: 64px; }
.counter-section .inf { font-size: 64px; }
.counter-section .numberContainer { font-weight: 200; }
.counter-section .numberContainer div { margin: 15px 0px; }
@media (max-width: 384px) {
  .counter-section .number { font-size: 42px ! important; }
  .counter-section .numberContainer div { margin: 5px 0px; }
}
@media (max-width: 767px) {
}
.section-boxes { margin-top: 70px; height: 450px; max-width: 100%; }
.section-boxes .box-container { overflow: hidden; }
.section-boxes .box-container:hover:nth-child(1) .box { box-shadow: 0px 0px 0px 2000px rgb(175, 195, 225) inset; }
.section-boxes .box-container:hover:nth-child(2) .box { box-shadow: 0px 0px 0px 2000px rgb(100, 120, 170) inset; }
.section-boxes .box-container:hover:nth-child(3) .box { box-shadow: 0px 0px 0px 2000px rgb(43, 45, 60) inset; }
.section-boxes .box-container:hover:nth-child(4) .box { box-shadow: 0px 0px 0px 2000px rgb(255, 153, 51) inset; }
.section-boxes .box-container .box { background-repeat: no-repeat; background-size: cover; background-position: center center; box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.4) inset; display: flex; justify-content: space-between; align-items: center; flex-direction: column; color: rgb(255, 255, 255); height: 450px; transition: all 0.3s ease 0s; padding: 30px 0px; }
.section-boxes .box-container .box .box-title { font-weight: 700; font-size: 21px; border-bottom: 1px solid rgb(155, 155, 155); width: 65%; text-align: center; padding-bottom: 10px; white-space: nowrap; }
.section-boxes .box-container .box .box-text { font-weight: 200; font-size: 17px; width: 65%; text-align: center; border-radius: 3px; }
@media (max-width: 992px) {
  .section-boxes { height: 900px; }
}
@media (max-width: 767px) {
  .section-boxes { height: 1800px; }
  .section-boxes .box-container .box .box-text { width: 95%; }
}
.section-news { margin: 0px; color: rgb(74, 74, 74); }
.section-news .cont-news { background: rgb(244, 244, 244) none repeat scroll 0% 0%; padding: 0px 15px 15px; }
.section-news .news-title { padding-bottom: 10px; margin-bottom: 20px; margin-top: 30px; }
.section-news .news-slider-title { padding: 25px 0px; }
.section-news .news-slider-text, .section-news .text { text-align: justify; height: auto; overflow: hidden; }
.section-news .btn { margin: 25px 0px 20px 1px; }
.section-news #carousel-custom-dots { margin-bottom: 0px; padding: 15px 30px 15px 60px; }
.section-news #carousel-custom-dots .owl-dot { width: calc(25% - 20px); list-style: outside none none; height: 25vh; background-size: cover; background-position: center center; background-repeat: no-repeat; box-shadow: 0px 0px 0px 2000px rgba(255, 255, 255, 0.4) inset; cursor: pointer; min-height: 200px; }
.section-news #carousel-custom-dots .owl-dot:not(:nth-child(1)) { margin-left: 20px; }
.section-news #carousel-custom-dots .owl-dot a { position: absolute; left: 0px; right: 0px; bottom: 0px; top: 0px; width: 100%; height: 100%; z-index: 5; }
.section-news #carousel-custom-dots .active { box-shadow: 0px 0px 0px 2000px transparent inset; }
.section-news #navContainer { font-size: 64px; margin-top: 0px; height: 40px; position: absolute; top: 200px; left: 15px; right: 0px; display: flex; justify-content: space-between; }
.section-news #navContainer button { margin-top: 0px; background: transparent none repeat scroll 0% 0%; outline: 0px none; border: 0px none; height: 40px; overflow: hidden; display: inline-flex; align-items: center; justify-content: center; }
@media (min-width: 768px) {
  .section-news .cont { margin-right: calc((100vw - (750px + 45px)) / 2); }
  .section-news .cont-news { margin-left: calc((100vw - (750px + 45px)) / 2); }
}
@media (min-width: 992px) {
  .section-news .cont { margin-right: calc((100vw - (970px + 45px)) / 2); }
  .section-news .cont-news { margin-left: calc((100vw - (970px + 45px)) / 2); }
}
@media (min-width: 1200px) {
  .section-news .cont { margin-right: calc((100vw - (1170px + 45px)) / 2); }
  .section-news .cont-news { margin-left: calc((100vw - (1170px + 45px)) / 2); }
}
@media (max-width: 1199px) {
  .section-news #navContainer { top: 170px; }
}
@media (max-width: 767px) {
  .section-news .cont { padding-bottom: 70px ! important; }
  .section-news .news-slider-text, .section-news .text { text-align: left; }
  .section-news #carousel-custom-dots { position: absolute; bottom: -60px; display: flex; justify-content: center; width: 100%; }
  .section-news #carousel-custom-dots .owl-dot { background-image: none ! important; height: 10px; min-height: 0px; width: 20px; background-color: rgb(155, 155, 155); box-shadow: none; padding: 0px; }
  .section-news #carousel-custom-dots .active { box-shadow: none; background-color: rgb(0, 0, 0); }
  .section-news .owl-item { margin-bottom: 30px; }
  .section-news #navContainer { top: auto; bottom: 0px; justify-content: center; z-index: 100; }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 480px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 991px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 480px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 384px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 991px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
}
.reviews-section { padding: 30px 0px 0px; position: relative; }
.reviews-section::before { position: absolute; content: ""; height: 150px; width: 150px; background-image: url("quote-left.png"); background-position: left center; background-size: contain; background-repeat: no-repeat; left: 0px; bottom: 50px; }
.reviews-section::after { position: absolute; content: ""; height: 150px; width: 150px; background-image: url("quote-right.png"); background-position: right center; background-size: contain; background-repeat: no-repeat; right: 0px; top: 100px; }
.reviews-section .owl-dots { padding-bottom: 70px; display: block ! important; text-align: center; }
.reviews-section .owl-dots .owl-dot { width: 20px; height: 10px; background-color: rgb(155, 155, 155); border-radius: 0px; transition: color 0.15s linear 0s, background 0.15s linear 0s; will-change: color, background; margin: 5px 7px; }
.reviews-section .owl-dots .owl-dot:focus { outline: medium none; }
.reviews-section .owl-dots .active { background: rgb(0, 0, 0) none repeat scroll 0% 0% ! important; }
.reviews-section .owl-nav { text-align: center; font-size: 64px; }
.reviews-section .review-content { text-align: center; color: rgb(74, 74, 74); padding: 15px 0px 30px; }
.reviews-section .review-content .author { font-weight: bold; }
.reviews-section .review-content .text { font-weight: 300; padding: 20px 0px 45px; font-size: 20px; }
.popup-review-bg { position: fixed; left: 0px; top: 0px; right: 0px; bottom: 0px; z-index: 999; }
.popup-review { width: 800px; position: fixed; max-height: 90vh; top: calc(50% - 45vh); background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 0px 23px 0px rgba(142, 142, 142, 0.5); z-index: 1000; left: calc(50% - 400px); font-size: 16px; line-height: 26px; font-weight: lighter; color: rgb(74, 74, 74); overflow-y: auto; max-width: calc(100% - 20px); }
.popup-review .popup-content { padding: 60px 80px 80px; }
.popup-review .quote { margin: 0px auto; height: 70px; }
.popup-review .popup-review-close { text-align: right; padding: 10px; cursor: pointer; }
@media (max-width: 767px) {
  .reviews-section { padding: 15px 0px 30px; }
  .reviews-section .review-content .text { font-size: 18px; }
  .popup-review { font-size: 16px; }
  .popup-review .popup-content { padding: 30px; }
}
@media (max-width: 600px) {
  .popup-review { left: 10px; }
}
.slider-section { width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center; }
.slider-section .item { box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.4) inset; background-repeat: no-repeat; background-size: cover; background-position: center center; align-items: center; display: flex; }
.slider-section .owl-carousel div:not(.owl-dots):not(.title-bg):not(.subtitle-bg):not(.more-bg):not(.container):not(.owl-nav) { height: 100vh; width: 100%; }
.slider-section .owl-theme .owl-nav { position: absolute; bottom: 0px; font-size: 96px; color: rgb(255, 255, 255); text-align: left; z-index: 30; }
.slider-section .owl-theme .owl-dots { position: absolute; bottom: 50px; right: 20%; z-index: 100; }
.slider-section .owl-theme .owl-dots .active span { background: rgb(0, 0, 0) none repeat scroll 0% 0% ! important; }
.slider-section .owl-theme .owl-dots .owl-dot span { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 20px; border-radius: 0px; transition: color 0.15s linear 0s, background 0.15s linear 0s; will-change: color, background; }
.slider-section .owl-theme .owl-dots .owl-dot:focus { outline: medium none; }
.slider-section .owl-theme .owl-dots .owl-dot:hover span { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.slider-section .social-media { list-style: outside none none; margin: 0px; padding: 0px; position: absolute; top: 120px; right: 0px; z-index: 100; width: 55px; display: block; }
.slider-section .social-media .social-media-icon { float: none; position: relative; right: 0px; top: 0px; width: 100%; height: 55px; text-align: center; padding: 0px; margin: 7px 0px; }
.slider-section .social-media .social-media-icon:first-child { background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-size: 14px; line-height: 20px; display: flex; justify-content: center; align-items: center; text-align: center; flex-direction: column; }
.slider-section .social-media .social-media-icon:first-child:hover { background: rgba(0, 0, 0, 0.75) none repeat scroll 0% 0%; }
.slider-section .social-media .social-media-icon:first-child a { font-weight: lighter; }
.slider-section .social-media .social-media-icon:first-child a.active { font-weight: bold; }
.slider-section .social-media .social-media-icon:first-child a:hover { text-decoration: underline; }
.slider-section .social-media .social-media-icon:not(:first-child) { background: rgba(255, 255, 255, 0.5) none repeat scroll 0% 0%; color: rgb(0, 0, 0); line-height: 67px; }
.slider-section .social-media .social-media-icon:hover:not(:first-child) { background: rgba(255, 255, 255, 0.75) none repeat scroll 0% 0%; }
.slider-section .social-media .social-media-icon:not(:first-child) a { color: rgb(34, 34, 34); display: block; width: 100%; height: 100%; }
.slider-section .slider-container { position: absolute; z-index: 10; max-width: 100%; }
.owl-nav button:hover { background: transparent none repeat scroll 0% 0% ! important; color: inherit ! important; }
.owl-nav button:focus { outline: medium none ! important; }
.owl-nav button:not(:first-child) { margin-left: 15px ! important; }
@media (min-width: 768px) {
  .slider-section .owl-theme .owl-nav { width: 750px; left: calc(50% - 750px / 2); }
}
@media (min-width: 992px) {
  .slider-section .owl-theme .owl-nav { width: 970px; left: calc(50% - 970px / 2); }
}
@media (min-width: 1200px) {
  .slider-section .owl-theme .owl-nav { width: 1170px; left: calc(50% - 1170px / 2); }
}
@media (max-width: 767px) {
  .slider-section { justify-content: flex-start; }
  .slider-section .owl-theme .owl-nav { left: 15px; }
  .slider-section .owl-theme .owl-dots { right: 15px; }
}
@media (max-width: 600px) {
}
@media (min-width: 768px) {
  .section-about .cont-about { margin-left: calc((100vw - (750px + 45px)) / 2); }
  .section-about .cont { margin-right: 0px; }
}
@media (min-width: 992px) {
  .section-about .cont-about { margin-left: calc((100vw - (970px + 45px)) / 2); }
  .section-about .cont { margin-right: calc((100vw - (970px + 30px)) / 2); }
}
@media (min-width: 1200px) {
  .section-about .cont-about { margin-left: calc((100vw - (1170px + 45px)) / 2); }
  .section-about .cont { margin-right: calc((100vw - (1170px + 45px)) / 2); }
}
.section-about { margin: 100px 0px 0px; }
.section-about .cont { position: relative; }
.section-about img { height: calc(100% - 60px) ! important; }
.section-about .owl-theme .owl-dots { padding-bottom: 70px; }
.section-about .owl-theme .owl-dots .owl-dot span { background-color: rgb(155, 155, 155); width: 20px; border-radius: 0px; transition: color 0.15s linear 0s, background 0.15s linear 0s; will-change: color, background; height: 10px; }
.section-about .owl-theme .owl-dots .owl-dot:focus { outline: medium none; }
.section-about .owl-theme .owl-dots .active span { background: rgb(0, 0, 0) none repeat scroll 0% 0% ! important; }
.section-about .owl-theme .owl-nav { font-size: 64px; }
.section-about .owl-text-about { line-height: 1.7; padding-right: 75px; }
.section-about .title-about { padding: 60px 0px 10px; }
.section-about .owl-about { padding-top: 45px; }
@media (max-width: 767px) {
  .section-about .owl-text-about { padding-right: 0px; }
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (max-width: 991px) {
}
